
#TutorLobby *:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

/*************TutorLobby*************/

#TutorLobby {
	position: relative;
	width: 100%;
	min-height: 80vh;
}



/*************Chat area**************/

#TutorChat {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	/*overflow-y: scroll;*/
	z-index: -1;
}


.blur {
	filter: blur(2px) opacity(100%);
}


/**************Selection*************/

#TutorLobbyForeground {
	/*background-color: red;*/
	z-index: 1;
}


/***************SubjectCard***********/
.SubjectCard {
	
}