/*all css styles for frontend view in one file?*/


@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900&display=swap');


#FrontEnd * {
	box-sizing: border-box;
}
/*debug feature*/
#FrontEnd *:hover {
	/*background-color: rgba(0, 0, 0, 0.15);*/
}






/*********************navigation bar************************/
/*the bar is made of 2 divs each with width 50%*/

.FE_navigation {

}

.FE_navigation_button {
	font-size: 1.1em;
	width: 8em;	
	letter-spacing: 0.5px;
}
/*buttons on the right side*/
.right .FE_navigation_button {
	line-height: 2em;
	border: 2px solid #18A0FB;
	border-radius: 6px;
	margin-right: 0.8em;
}
/*links on the right side*/

.left .FE_navigation_button {
	margin-left: 0.8em;
	color: #18A0FB;
	background-color: #FFFFFF;
}
.left a {
	text-decoration: none;
}
.left a:hover {
	cursor: pointer;
	text-decoration: underline;
}


/*the bar is made of 2 divs each with width 50%*/
.FE_navigation .both {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}
.FE_navigation .left {
	text-align: left;
}
.FE_navigation .left span {
	font-size: 2em;
	margin-left: 2em;
}

.FE_navigation .right {
	text-align: right;
}
.FE_navigation .right button {
	transition: all 0.3s;
}

/*animate button on the right*/
.FE_navigation .right button:nth-child(2) {
	background-color: #18A0FB;
	color: #FFFFFF;
}
.FE_navigation .right button:nth-child(2):hover {
	cursor: pointer;
	background-color: #FFFFFF;
	color: #18A0FB;
}
.FE_navigation .right button:nth-child(1) {
	background-color: #FFFFFF;
	color: #18A0FB;
}
.FE_navigation .right button:nth-child(1):hover {
	cursor: pointer;
	background-color: #18A0FB;
	color: #FFFFFF;
}




/*********************body************************/

.FE_body {
	background-color: /*#E5E5E5;*/ #f5f5f5;
	padding: 10px;
	height: 300vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	overflow: hidden;
}

.FE_Card {
	width: calc(20% - 20px);
    margin: 10px;
	/*order-radius: 4px;*/
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
	background-color: #FFFFFF;
	padding: 0;
}
.FE_Card img {
	width: 100%;
}

.FE_Card h1 {
	font-size: 1.35em;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	color: #555555;
}

/*animate the height of paragraph*/
.FE_Card p:hover {
	cursor: pointer;
}
.FE_Card p {
	transition: all 0.5s;
	overflow: hidden;
}

.FE_Card button {
	border: 0;
	border-radius: 0;
	box-shadow: inset 0 0 0 2px #dddddd;
	padding: 0 1.75em;
	background: #fff;
	line-height: 3em;
	text-transform: uppercase;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 14px;
	font-weight: 900;
	color: #555555!important;
}

.hide {
	/*border-bottom: 1px solid black;*/
	box-shadow: inset 0 -15px 10px -10px rgba(0,0,0,.3);
	max-height: 4em;
}
.show {
	border-bottom: 1px solid white;
	max-height: 22em;
}


