/*all css styles for frontend view in one file?*/


@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900&display=swap');


#FrontEnd * {
	box-sizing: border-box;
}
/*debug feature*/
#FrontEnd *:hover {
	/*background-color: rgba(0, 0, 0, 0.15);*/
}

button:hover {
	cursor: pointer;
}






/*********************navigation bar************************/
/*the bar is made of 2 divs each with width 50%*/

.FE_navigation {
	text-align: center;
}

.FE_navigation_button {
	font-size: 1.1em;
	width: 8em;	
	letter-spacing: 0.5px;
	line-height: 2em;
}
/*buttons on the right side*/
.right .FE_navigation_button {
	border: 2px solid #18A0FB;
	border-radius: 6px;
	margin-right: 0.8em;
}


/*links on the left side*/
.left a {
	margin-left: 0.8em;
	color: #18A0FB;
	background-color: #FFFFFF;
	text-decoration: none;
}
.left a:hover {
	cursor: pointer;
	text-decoration: underline;
}


/*the bar is made of 2 divs each with width 50%*/
.FE_navigation .both {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}
.FE_navigation .left {
	padding-left: 1em;
	text-align: left;
}
.FE_navigation .left span {
	font-size: 2em;
	margin-left: 2em;
}

.FE_navigation .right {
	text-align: right;
}
.FE_navigation .right button {
	transition: all 0.3s;
}

/*animate button on the right*/
.FE_navigation .right button:nth-child(2) {
	background-color: #18A0FB;
	color: #FFFFFF;
}
.FE_navigation .right button:nth-child(2):hover {
	background-color: #FFFFFF;
	color: #18A0FB;
}
.FE_navigation .right button:nth-child(1) {
	background-color: #FFFFFF;
	color: #18A0FB;
}
.FE_navigation .right button:nth-child(1):hover {
	background-color: #18A0FB;
	color: #FFFFFF;
}




/*********************body************************/

.FE_body {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: flex-start;
	padding: 1em;
	background-color: /*#E5E5E5;*/ #f5f5f5;
	height: 200vh;
	overflow: hidden;
}

.FE_Card {
	position: relative;
	top: 0;
	margin: 0.5em;
	width: calc(20% - 1em);
	/*order-radius: 4px;*/
	border: solid 1px rgba(160, 160, 160, 0.3);
	background-color: #FFFFFF;
	padding: 0;
}

@media ( max-width: 1200px) {
	.FE_Card {
		width: calc(25% - 1em);
	}
}

@media ( max-width: 960px) {
	.FE_Card {
		width: calc(33% - 1em);
	}
}

@media ( max-width: 730px) {
	.FE_Card {
		width: calc(50% - 1em);
	}
}

.FE_Card img {
	width: 100%;
	border-bottom: solid 1px rgba(160, 160, 160, 0.3);
}

.FE_Card h1 {
	font-size: 1.3em;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	color: #555555;
}

/*animate the height of paragraph*/
.FE_Card p:hover {
	cursor: pointer;
}
.FE_Card p {
	margin: 0;
	padding: 10px;
	transition: all 0.5s;
	overflow: hidden;
	border-bottom: 1px solid rgba(160, 160, 160, 0.3);
	font-family: "Source Sans Pro", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #808080;
}

.FE_Card .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
	text-align: right;
}

.FE_Card .hide {
	max-height: 0;
	padding: 0;
}
.show {
	max-height: 22em;
}

.FE_Card span {
	font-family: "Source Sans Pro", sans-serif;
}

.FE_Card button {
	border: 0;
	border-radius: 0;
	box-shadow: inset 0 0 0 1px #ddd;
	padding: 0 1.75em;
	background: #fff;
	line-height: 3em;
	text-transform: uppercase;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 12px;
	font-weight: 900;
	color: #555555!important;
}

.FE_Card button:hover {
	background: #f0f0f0;
}


/**************************login**************************/
.FE_login {
	margin: auto;
	margin-top: 5px;
	transition: all .5s;
	overflow: hidden;
	max-width: 80%;
	border-top: 3px solid #a0a0a0;
	padding: 10px 0;
	max-height: 160px;
}

.hideLogin {
	/*border-top: 4px solid #f5f5f5;*/
	padding: 0;
	max-height: 0;
	max-width: 0%;
}

.FE_login input {
	padding: 5px;
	margin: 0 0 10px 0;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	text-align: center;
}

.FE_login button {
	border: none;
}

.FE_login button:hover {

}