#FrontEnd * {
	box-sizing: border-box;
}
#FrontEnd *:hover {
	/*debug*/
	background-color: rgba(0, 0, 0, 0.3);
}


.FE_navigation {

}


.FE_navigation_button {
	font-size: 1.1em;
	border: 2px solid #18A0FB;
	border-radius: 6px;
	width: 8em;
	line-height: 2em;
	margin-right: 0.8em;
	letter-spacing: 0.5px;
	text-align: center;
}


.FE_navigation .both {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}
.FE_navigation .left {
	text-align: left;
}

.FE_navigation .left span {
	font-size: 2em;
	margin-left: 2em;
}


.FE_navigation .right {
	text-align: right;
}
.FE_navigation .right button {
	transition: all 0.3s;
}

.FE_navigation .right button:nth-child(2) {
	background-color: #18A0FB;
	color: #FFFFFF;
}
.FE_navigation .right button:nth-child(2):hover {
	cursor: pointer;
	background-color: #FFFFFF;
	color: #18A0FB;
}
.FE_navigation .right button:nth-child(1) {
	background-color: #FFFFFF;
	color: #18A0FB;
}
.FE_navigation .right button:nth-child(1):hover {
	cursor: pointer;
	background-color: #18A0FB;
	color: #FFFFFF;
}




/*body*/
.FE_body {
	padding: 20px 10px;
	min-height: 100vh;

}

.FE_body .column {
	display: inline-grid;
	width: 20%;
	padding: 10px;	
}

.FE_body .column div {
	width: 100%;
}

