/*all css styles for frontend view in one file?*/


#FrontEnd * {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
	'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
/*debug feature*/
#FrontEnd *:hover {
	/*background-color: rgba(0, 0, 0, 0.15);*/
}

button:hover {
	cursor: pointer;
}






/*********************navigation bar************************/
/*the bar is made of 2 divs each with width 50%*/

.FE_navigation_button {
	font-size: 1.1em;
	letter-spacing: 0.5px;
	line-height: 2em;
}
/*buttons on the right side*/
.right .FE_navigation_button {
	border: 2px solid #18A0FB;
	border-radius: 6px;	
	padding: 0 2em;	
	/*margin-right: 0.8em;*/
}


/*links on the left side*/
.left button {
	margin-right: 0.8em;
	color: #18A0FB;
	background-color: #FFFFFF;
	text-decoration: none;
	border: none;
	outline: none;
}
.left button:hover {
	text-decoration: underline;
}


/*the bar is made of 2 divs each with width 50%*/
.FE_navigation .both {
	display: inline-block;
	width: 40vw;
}
.FE_navigation .left {
	text-align: left;
}
.FE_navigation .left span {
	font-size: 2em;
	padding-right: 10px;
}
.FE_navigation img {
	display: inline;
	width: 10vw;
	transform: translateY(5px);
}

.FE_navigation .right {
	text-align: right;
}
.FE_navigation .right button {
	transition: all 0.3s;
}

/*animate button on the right*/
.FE_navigation .right button:nth-child(2) {
	background-color: #18A0FB;
	color: #FFFFFF;
}
.FE_navigation .right button:nth-child(2):hover {
	background-color: #FFFFFF;
	color: #18A0FB;
}
.FE_navigation .right button:nth-child(1) {
	background-color: #FFFFFF;
	color: #18A0FB;
}
.FE_navigation .right button:nth-child(1):hover {
	background-color: #18A0FB;
	color: #FFFFFF;
}




/*********************body************************/

.FE_body {
	padding: 1em;
	background-color: /*#E5E5E5;*/ #f5f5f5;
}

.FE_body_column {
	display: inline-grid;
	width: 20%;
}

.FE_Card {	
	overflow: hidden;
	position: relative;
	margin: 0.5em;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background-color: #FFFFFF;
	padding: 0;
}
.zero_height {
	max-height: 0;
}
.FE_Card img {
	width: 100%;
	border-bottom: solid 1px rgba(160, 160, 160, 0.3);
	vertical-align: top;
}

.FE_Card h1 {
	margin: 0;
	padding: 1em;
	border-bottom: solid 1px rgba(160, 160, 160, 0.3);
	font-size: 1.3em;
	font-weight: 600;
	text-transform: uppercase;
	color: #555555;
}

/*animate the height of paragraph*/
.FE_Card:hover {
	cursor: help;
}
.FE_Card:hover p {
	height: calc(100% - 66px);
	color: white;
	opacity: 1;
}
.FE_Card p {
	padding: 1em;
	text-align: left;
	background-color: rgba(30,39,49,0.8);
	position: absolute;
	top: 0;
	left: 0;
	overflow-y: scroll;
	margin: 0;
	transition: all 0.2s;
	font-size: 14px;
	font-weight: 400;
	color: #808080;
	opacity: 0;
}

.FE_Card .container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 1.3vw;
	padding: 1em;
	text-align: right;
}

.FE_Card button {
	border: 0;
	box-shadow: inset 0 0 0 1px #ddd;
	padding: 0 1.2em;
	background: #fff;
	line-height: 2.5em;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 900;
	color: #555555!important;
}

.FE_Card button:hover {
	background: #f0f0f0;
}


/**************************login**************************/
.FE_login {
	margin: auto;
	margin-top: 5px;
	transition: all .5s;
	overflow: hidden;
	max-width: 80%;
	border-top: 3px solid #a0a0a0;
	padding: 10px 0;
	max-height: 160px;
}

.hideLogin {
	/*border-top: 4px solid #f5f5f5;*/
	padding: 0;
	max-height: 0;
	max-width: 0%;
}

.FE_login input {
	padding: 5px;
	margin: 0 0 10px 0;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	text-align: center;
}

.FE_login button {
	border: none;
}

.FE_login button:hover {

}




/************About************/
.FE_about {
	/*overwrite FE_body's style*/
	overflow-x: hidden;
	height: auto;
	text-align: left;
}

.FE_about iframe {
	border: none;
	width: 33%;
	height: 500px;
}

.FE_about_info {
	padding: 0 30px 10px 0;
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}