/*all css styles for frontend view in one file?*/


#FrontEnd * {
	box-sizing: border-box;
}
/*debug feature*/
#FrontEnd *:hover {
	/*background-color: rgba(0, 0, 0, 0.15);*/
}






/*********************navigation bar************************/
.FE_navigation {

}

.FE_navigation_button {
	font-size: 1.1em;
	width: 8em;	
	letter-spacing: 0.5px;
}
/*buttons on the right side*/
.right .FE_navigation_button {
	line-height: 2em;
	border: 2px solid #18A0FB;
	border-radius: 6px;
	margin-right: 0.8em;
}
/*links on the right side*/

.left .FE_navigation_button {
	margin-left: 0.8em;
	color: #18A0FB;
	background-color: #FFFFFF;
}


/*the bar is made of 2 divs each with width 50%*/
.FE_navigation .both {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}
.FE_navigation .left {
	text-align: left;
}
.FE_navigation .left span {
	font-size: 2em;
	margin-left: 2em;
}

.FE_navigation .right {
	text-align: right;
}
.FE_navigation .right button {
	transition: all 0.3s;
}

/*animate button on the right*/
.FE_navigation .right button:nth-child(2) {
	background-color: #18A0FB;
	color: #FFFFFF;
}
.FE_navigation .right button:nth-child(2):hover {
	cursor: pointer;
	background-color: #FFFFFF;
	color: #18A0FB;
}
.FE_navigation .right button:nth-child(1) {
	background-color: #FFFFFF;
	color: #18A0FB;
}
.FE_navigation .right button:nth-child(1):hover {
	cursor: pointer;
	background-color: #18A0FB;
	color: #FFFFFF;
}




/*********************body************************/

.FE_body {
	background-color: #E5E5E5;
	padding: 20px;
	min-height: 100vh;

}

.FE_body .column {
	display: inline-grid;
	width: 20%;
	padding: 10px;	
}

.FE_Card {
	overflow: hidden;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: #FFFFFF;
}

